.w {
    background-color: blue;
    /* width: 10px;
    height: 10px;
    padding: 0; */
    /* width: 1%; */
    height: 0;
    padding: 1%;
    margin: 0;
    /* float: left; */
}

.p {
    background-color: white;
    /* width: 10px;
    height: 10px;
    padding: 0; */
    /* width: 1%; */
    height: 0;
    padding: 1%;
    margin: 0;
    /* float: left; */
}

.s {
    background-color: rgb(255, 229, 81);
    /* width: 10px;
    height: 10px;
    padding: 0; */
    /* width: 1%; */
    height: 0;
    padding: 1%;
    margin: 0;
    /* float: left; */
}

.e {
    background-color: red;
    /* width: 10px;
    height: 10px;
    padding: 0; */
    /* width: 1%; */
    height: 0;
    padding: 1%;
    margin: 0;
    /* float: left; */
}

.z {
    background-color: rgb(0, 0, 0);
    /* width: 10px;
    height: 10px;
    padding: 0; */
    /* width: 1%; */
    height: 0;
    padding: 1%;
    margin: 0;
    /* float: left; */
}

.msg {
    font-size: 24px;
    color: rgb(255, 83, 52);
}

#size {
    height: 20px;
    width: 200px;
}

#meiro {
    margin: 20px;
    padding: 10px;
    font-size: 9px;
}

#btn {
    margin-left: 30px;
}

.move {
    margin-left: 15px;
}

#btn_auto {
    margin: 20px;
    padding: 10px;
}

#drop_zone {
    width: 240px;
    height: 240px;
    border: 2px dashed #bbb;
    display: inline-block;
    border-radius: 5px;
    margin: 10px;
    color: #bbb;
}

#camera_zone {
    width: 240px;
    height: 240px;
    border: 2px dashed #bbb;
    display: inline-block;
    border-radius: 5px;
    margin: 10px;
    color: #bbb;
}

#test_canvas {
    margin: 10px;
}

#check {
    margin: 10px;
}

#drop_image {
    width: 200px;
    height: 200px;
}

#meiro {
    width: 50%;
    height: 50%;
    padding: 0;
    margin: 0;
    /* display: inline-block; */
}

.block {
    /* padding:0; */
    /* margin:0; */
    display: flex;
}

canvas {
    width: 200px;
}

#meiro {
    width: 500px;
    height: 500px;
}

#new_meiro {
    width: 650px;
    height: 650px;
}

#vr_meiro {
    width: 650px;
    height: 650px;
}

.a_move{
    font-size: 24px;
    background-color:skyblue;
}

.b_move{
    font-size: 24px;
    background-color:yellow;
}

